* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
h1{  text-decoration: none;
  color:#022873 ;}
/* Home menu bar */

label{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Code form Sign In */

form {
  display: block;
  text-align: center;

  width: max-content;
  margin: auto;
  margin-top: 10vh;

  font-weight: 500;
  background-color: #fff;
  padding: 3em 5em;
}

input {
  width: 450px;
  padding: 0.5rem;
}
 button {
  width: 320px;
  height: 30px;

  background: #F2CD5C;
  color: #022873;
  text-decoration: none;

  border-radius: 5px;
  cursor: pointer;
  border: none;
  height: 40px;
  transition-duration: 0.4s;
  border: 2px solid #fff;
}

button:hover {
  background-color: #022873;
  color: #F2CD5C;
}
ul{list-style-type: decimal}